div{
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: repeat(12,1fr);
}

div, div>*{
    border:1px solid lightgrey;
}

header{
    grid-column: span 12;
}


main{
    grid-column: span 12;
}